/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/background-size";

ul{
    li{
        display: inline;
    }
};
body{
    margin: 0 auto;
    padding: 2em 0 2em 0;
    background-color: #595d60;
    @include filter-gradient(#595d60, #3e4a5b, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #595d60 0%,#3e4a5b 100%));
    font: bold 1.1em/1 "trebuchet MS",Arial,Helvetica;
    .lang{

        height: 100%;
        justify-content: center;
        text-align: left;
        align-content: center;
        align-items: center;
    }
}
.page-wrap{
    background-color: #3e4144;
    @include filter-gradient(#3e4144, #2c3440, horizontal);
    @include background-image(radial-gradient(center, ellipse cover,  #3e4144 0%,#2c3440 100%));
    border-radius: 8px 8px 8px 8px;

}
.left{
    align-items: center;
    display: flex;
    
}
header{
    nav  {
        ul{
            li{
                
                a{
                    float:left;
                    padding: .2em .5em;
                    text-decoration: none;
                    color: #555;
                    text-shadow: 0 1px 0 rgba(255,255,255,.5);
                    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #fff #ccc #999 #eee;
                    background: #c1c1c1;
                    background: linear-gradient(#f5f5f5, #c1c1c1);    
                }
                    
                a:hover, a:focus {
                    outline: 0;
                    color: #fff;
                    text-shadow: 0 1px 0 rgba(0,0,0,.2);
                    background: #fac754;
                    background: linear-gradient(#fac754, #f8ac00);
                }
                a:active {
                    box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
                }

                float:left;
            li:first-child a {
                border-left: 0;
                border-radius: 4px 0 0 4px;            
            }

            li:last-child a {
                border-right: 0;
                border-radius: 0 4px 4px 0;            
            }
            
            }
            
            margin: 0 1em 1em 0;
            padding: .7em;
            float: right;
            list-style: none;
            background: #444;
            background: rgba(0,0,0,.2);
            border-radius: .5em;    
            box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
            }
        display: block;
        overflow: hidden;
        float: right;
        padding: 1em 0 0 0;
        }
        
        .head_left_div{
            h1{
                font-size: 2em;
            }
            h2{
                font-size: 1.05em;
                float: right;
            }
                padding: 1em 0 0 1em;
            }
        
        border-radius: 8px 8px 0 0;
        background-color: #3e4144;
}

content{
    .main_div{
        img{
            float:left;
        }
        padding: 1em;
        height: 80%;
        background-color: white;
        border-radius: 8px 8px 8px 8px;
        margin: 1em;
    }
        
    height: 20em;
    background-color: #3e4144;


        
/*        @include background(image-url("center.png"), linear-gradient(to bottom right, #333, #0c0));*/
}
