/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "header";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/images";
@import "compass/css3/background-size";

ul{
    li{
        display: inline;
    }
};
body{
    margin: 0 auto;
    padding: 1em 0 1em 0;
    background-color: #595d60;
    @include filter-gradient(#595d60, #3e4a5b, horizontal);
    @include background(image-url("background.png"), linear-gradient(#aaaaaa, #555555));
    @include background-size(cover);
    font: bold 1.1em/1 "trebuchet MS",Arial,Helvetica;
    .lang{
        height: 100%;
        justify-content: center;
        text-align: left;
        align-content: center;
        align-items: center;
    }
}
.page_wrap{
    @include background-image(radial-gradient(center, ellipse cover,  rgba(62, 65, 68, 0.5) 0%, rgba(44, 52, 64, 0.5) 100%));
    background-color: rgba(62, 65, 68, 0.5);
    border-radius: 8px 8px 8px 8px;
    height: 100%;
}
.left{
    align-items: center;
    display: flex;
    
}
content{
    .main_div{
        img{
            float:left;
        }
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        color: white;
        text-shadow: 2px 2px 4px #000000;
        padding: 1em;
        height: 80%;
        border-radius: 8px 8px 8px 8px;
        margin: 1em;
    }
        
    height: 20em;

/*    @include filter-gradient(rgba(63,76,107,0.5), rgba(63,76,107,0.5), vertical);
    @include background-image(linear-gradient(top, rgba(63,76,107,0.5) 0%,rgba(63,76,107,0.5) 100%));*/
        
/*        @include background(image-url("center.png"), linear-gradient(to bottom right, #333, #0c0));*/
}
.lang_contener{
    .lang{
        .lang_choser{
            .lang_hr { 
                    padding-right: 50%;
                    border: 0; 
                    height: 1px; 
                    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
            }
            margin: 1em 0 1em 0;
        }
        padding: 1em 0 1em 0;
        margin: 0 0 0 30%;
        height: 13em;
    }
}